.inputbar-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 40px 60px;
  background-color: white;
  position: absolute;
  bottom: calc((52px + 40px + 40px) / 2 * -1);
  z-index: 500;

  input {
    width: 237px;
    height: 52px;
    background-color: white;
    border: none;
    border: 1px solid #0c0e14;
  }

  button {
    color: white;
    background-color: #fc3e02;
    width: 257px;
    height: 52px;
    border: none;
    cursor: pointer;
  }
}
