.why-hotel-container {
  background-color: #fff;
  padding: 140px 150px;
}

.why-hotel-content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-family: "futura-pt", sans-serif;
    font-size: 48px;
    span {
      font-weight: 400;
    }
  }

  p {
    padding-top: 50px;
    font-family: "inter", sans-serif;
    font-weight: 200;
    width: 47ch;
  }
}

.why-hotel-blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 28px;
  img {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
  .blocks {
    grid-column: auto;
  }
}

.blocks {
  border: 1px solid #0c0e14;
  height: 355px;
  width: 275px;
  transition: all 0.3s ease-in-out;

  h1 {
    font-size: 24px;
    font-family: "futura-pt", sans-serif;
  }
  p {
    font-family: "inter", sans-serif;
    font-weight: 200;
    width: 25ch;
  }

  img {
    width: 32px;
    padding: 24px;
  }

  .suitcase-title {
    display: flex;
    padding: 24px;
    flex-direction: column;
    text-align: start;
  }
}

.suitcase-img {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 80px;
  height: 116px;
  background-color: #0c0e14;
  margin: 0 24px;
  transition: all 0.3s ease-in-out;
}

.blocks:hover {
  background-color: #fc3e02;
  color: #fff;
  transition: all 0.3s ease-in-out;
  .suitcase-img {
    background-color: white;
  }
}
